:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

/*referenciar todos */
* {
  margin: 0;
  padding: 0;
  /*congifurar comportamento do padding*/
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
/* prettier-ignore */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}

body {
  background: #f0f0f0;
}
/*BOX MODEL
Modelo de Caixa
largura, altura, espaçamento, preenchimento,
bordas, cor, fundo,
como é vista pelo html (display),
alinhamento, alinhamento,

*/
